.createRecord{
    border:1px solid black;
    border-radius: 20px;
}

.cancelButton{
    height: 50px;
    width: 150px;
}

.submitButton{
    height: 50px;
    width: 150px;
}

.submitButton:hover{
    height: 50px;
    background-color:#680c0c;
    color:white;
}
