body{
    overflow-x: hidden;
}

a {
    color: inherit;
}

#infantsTxt{
    color: #8F92A1;
}

#dropdown1{
    background-color:#980B0B;
}

#dropdown2{
    background-color:#980B0B;
}

.homeicon{
    padding-left:0%;
}

.dropdown-color:hover{
    background-color:#980B0B;
    color: white;
}

#button-add{
    background-color:#863A3A;
    color: white;
}

#table-margin{
  padding-left: 300px;
}

.paginationTxt{
    color:#980B0B;
}

.paginationTxt:hover{
    color:#980B0B;
}

.paginationTxt:focus{
    color:#980B0B;
}

.paginationTxt:active{
    color:#980B0B;
}
